<section class="Form-section">
  <h2>Welcome User! Sign In Here!</h2>
  <%= form_with url: sessions_path do |form| %>
    <div class="Form-field">
      <label>
        Email
      </label>
        <%= form.email_field :email, :autofocus => true %>
    </div>

    <div class="Form-field">
      <label>
        Password
      </label>
      <%= form.password_field :password %>
    </div>

    <%= form.submit "Sign-in", class: "Form-submit" %>
  <% end %>
</section>
