* {
  font-family: sans-serif;
}

body {
  background-image: url("https://previews.123rf.com/images/tirachard/tirachard1905/tirachard190500033/122186209-creative-flat-lay-photo-of-workspace-desk-top-view-office-desk-with-laptop-pencil-notebook-and-plant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 150px;
  margin-top: 150px;
}

.AddTodo-Input input {
  border-radius: 5px;
  height: 35px;
  width: 200px;
  display: inline-flex;
  border: 2px solid #ccc;
}

h1 {
  font-weight: bold;
  display: flex;
}

::placeholder {
  font-size: 17px;
  padding: 20px 15px;
}

.AddTodo-Input button {
  border-radius: 5px;
  border: 2px solid rgb(10, 196, 10);
  color: white;
  height: 35px;
  width: 80px;
  background-color: rgb(10, 196, 10);
}

span {
  font-weight: 100;
  font-size: 20px;
  margin-left: 15px;
  display: inline-flex;
}

div {
  margin-left: 20px;
  display: flex;
}

.TodoSection-Todo {
  display: flex;
}

.TodoSection-Todo:hover {
  background-color: rgb(233, 202, 233);
}

.TodoSection-TodoCheckbox {
  height: 20px;
  width: 20px;
}

.TodoSection-TodoText {
  font-size: 22px;
  margin-left: 10px;
}

.TodoSection-Overdue {
  color: red;
}

.TodoSection-Image {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
  visibility: visible;
}
