.Form-section h2 {
  font-size: 30px;
}

.Form-field {
  margin: 30px 0px;
}

.Form-field label {
  display: block;
  margin-bottom: 3px;
}

.Form-field input {
  padding: 5px;
  width: 400px;
}

.Form-submit {
  padding: 5px;
  cursor: pointer;
  background-color: chartreuse;
  margin: 20px 0px;
}
