* {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  background-image: url("https://previews.123rf.com/images/tirachard/tirachard1905/tirachard190500033/122186209-creative-flat-lay-photo-of-workspace-desk-top-view-office-desk-with-laptop-pencil-notebook-and-plant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 150px;
  margin-top: 150px;
}

.Checkbox {
  height: 20px;
  width: 20px;
}

h1 {
  display: flex;
  font-size: 25px;
  font-weight: 600;
}

h2 {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  margin: 7px;
}

.completed {
  font-size: 15px;
}

.When-due {
  display: flex;
  align-items: center;
}

li {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 10px;
}

li:hover {
  background-color: #dccdf1;
}

.due-date {
  font-size: 10px;
  margin-right: 5px;
}

.img {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
  visibility: hidden;
}

li:hover input[type="image"] {
  visibility: visible;
}

.strike {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 10px;
  text-decoration: line-through;
}

.non-strike {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px;
}

input {
  border-radius: 5px;
  border: 2px solid rgb(206, 204, 204);
  height: 35px;
  width: 200px;
}

::placeholder {
  font-size: 17px;
  padding: 20px 15px;
}

button {
  border-radius: 5px;
  border: 1px solid rgb(10, 196, 10);
  height: 36px;
  width: 80px;
  color: white;
  background-color: rgb(10, 196, 10);
}

p {
  margin-left: 20px;
  display: flex;
}
